
/* 
preto: #0a0a0a
pink: #ff009d
*/
body {
    height: 5000px;
    font-family: "RobotoLight";
    letter-spacing: 3px;
    /* background-color: aqua; */
    padding-top: 0px;
}
.conteudo{
    padding-top:20px;
}
.cor-branco {
    color: white !important;
}
.cor-branco a:hover {
    color: #ff009d !important ;
}
.cor-pink{
    color:#ff009d !important;
}
@font-face {
    font-family:"RobotoLight";
    src:url("../fonts/RobotoCondensed-Light.ttf") format("truetype")
}
.menu-preto{
     
    font-size: 12px;
}
.menu-branco{
   /*  padding-top: 20px; */
    font-size: 12px;
}
.menu-rosa {
    font-size: 12px;
    font-weight: 900;
}
.menu-rosa a:hover{
    color: #000 !important;
}
.logo {
    height: 110px;
}
.pesquisa{
    border: 2px solid #ff009d;
    border-radius: 6px;
}
.botao-pesquisa{
    border-radius: 0px;
}
.divisao {
    border-right: 2px solid #dedede;
}
.inicial-produto-imagem{
    width: 260px;
    height: auto;
}
.produto a{
    text-decoration: none;
    color: #0a0a0a;
}
.produto a:hover{
    text-decoration: none;
    color: #ff009d;
}
.inicial-produto-preco-antigo{
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: line-through;
    color: #6c6c6c;
}
.inicial-produto-preco{
    font-size: 20px;
    font-weight: 900;
    color: #0a0a0a;
}
 
.botao-comprar {
   width: 150px;
    margin-bottom: 10px;
    
}
.borda-produto{
    /* border: 2px solid #fff; */
}
.borda-produto:hover{
    /* border: 2px solid #ff009d; */
    
}
.alerta{
    background-color: #ff009d;
    color: #fff;
    font-weight: 900;
}
.btn-primary {
    letter-spacing: 3px;
}





















.temp1{
    background-color: aqua;
    border: 2px solid #ff009d;
}