
/* 
preto: #0a0a0a
pink: #ff009d
*/
body {
    /* height: 5000px; */
    font-family: "RobotoLight";
    letter-spacing: 3px;
    /* background-color: aqua; */
    padding-top: 0px;
}
.conteudo{
    padding-top:20px;
}
.cor-branco {
    color: white !important;
}
.cor-branco a:hover {
    color: #ff009d !important ;
}
.cor-pink{
    color:#ff009d !important;
}
@font-face {
    font-family:"RobotoLight";
    src:url("../fonts/RobotoCondensed-Light.ttf") format("truetype")
}
.menu-preto{
     
    font-size: 12px;
}
.menu-branco{
   /*  padding-top: 20px; */
    font-size: 12px;
}
.menu-rosa {
    font-size: 12px;
    font-weight: 900;
}
.menu-rosa a:hover{
    color: #000 !important;
}
.logo {
    height: 110px;
}
.pesquisa{
    border: 1px solid #ff009d;
    border-radius: 5px;
}
.botao-pesquisa{
    border-radius: 0px;
    height: 48px;
    width: 45px;
}
.divisao {
    /* border-right: 2px solid #dedede; */
}
.inicial-produto-imagem{
    width: 260px;
    height: auto;
}
.produto a{
    text-decoration: none;
    color: #0a0a0a;
}
.produto a:hover{
    text-decoration: none;
    color: #ff009d;
}
.inicial-produto-preco-antigo{
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: line-through;
    color: #6c6c6c;
}
.inicial-produto-preco{
    font-size: 20px;
    font-weight: 900;
    color: #0a0a0a;
}
 
.botao-comprar {
   width: 150px;
    margin-bottom: 10px;
    
}
.borda-produto{
    /* border: 2px solid #fff; */
}
.borda-produto:hover{
    /* border: 2px solid #ff009d; */
    
}
.alerta{
    background-color: #ff009d;
    color: #fff;
    font-weight: 900;
}
.btn-primary {
    letter-spacing: 3px;
}
footer {
    background-color: #0a0a0a;
    color: white;
    
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: none;
     
}

footer li {
    font-size: 14px;
    padding: 3px 0px;
}

@media (min-width: 992px){
 
.nome-menu {
    display: none;
}

}
@media (max-width: 576px){
 
.carrinho {
    display: block;
}
    .cart-contents {
        display: block !important;
    }
    .minhas-compras {
        display: none;
    }
    .entry-content img {
    width: 80%;
}


}


.feito {
    background-color: #ff009d;
    font-size: 12px;
}
.espaco {
    padding-top: 108px;
}
.espaco-mobile {
    padding-top: 118px;
}

.preco-antigo {
       font-size: 16px;
    font-weight: 700;
    text-decoration-line: line-through;
    color: #6c6c6c;
}
.preco {
    font-size: 24px;
    font-weight: 900;
    color: #0a0a0a;
}

/* these styles are for the demo, but are not required for the plugin */
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			 
		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }


body {
    text-transform: uppercase;
}



.top-menu-preto > li > a{
     color: white !important;
    display: block;
padding: .5rem 1rem;
    font-size: 12px !important;
    text-transform: uppercase;
}

.top-menu-preto > li > a:hover {
    color: #ff009d !important ;
    text-decoration: none;
}
.top-menu-preto > li {
   
}


.products > li > a > img {
    max-width: 100% !important;
    max-height: 100% !important;
}

.page-title, .entry-title {
    text-align: center !important;
}
.products > li > a  {
    color: #0a0a0a;
}
.products > li > a:hover  {
    color: #ff009d;
    text-decoration: none;
}
.woocommerce-Price-amount {
    /* color: red; */
}

.price ins {
    font-weight: 400;
    color: #0a0a0a;
    font-size: 1.3em;
}
  .button  {
    background-color: #ff009d;
    border-color: #eeeeee;
    color: #fff !important;
      border-radius: 5px;
} 
.button:hover  {
     
    color: #0a0a0a !important;
}
.added_to_cart {
    background-color: #eeeeee;
}








.estilo-menu > li > a{
     color: white !important;
    display: block;
padding: .5rem 1rem;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 900;
}

.estilo-menu > li > a:hover {
    color: #0a0a0a !important ;
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
     
}

.added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {
    background-color: #ff009d !important;
     
}

.product_list_widget li {
    padding: 1em 2em !important;
    
}

.cart-contents{
    font-size: 1.2em;
}
.col-1, .col-2 {
     
    max-width: 100%;
}

.site-footer {
    background-color: #0a0a0a;
    color: #ffffff;
}

input[type="submit"], button.alt  {
    background-color: #ff009d !important;
    border-radius: 3px;
    font-weight: 100;
    letter-spacing: 2px;
}

.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    background-color: #ffddee ;
    border: 1px solid #ff009d;
    border-radius: 5px;
}

.input-text:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus {
    background-color: #ffd0ee ;
     
}

a:hover {
   text-decoration: none; 
}

.button:hover, button.alt:hover {
    background-color: #d60284 !important;
    color: white !important;
    transition: 0.2;
}

a.added_to_cart {
    color: white !important;
}
.woocommerce-message {
    background-color: #ff009d;
}
.whats img {
    
}
.entry-content img {
    width: 300px;
}



.temp1{
    background-color: aqua;
    border: 2px solid #ff009d;
}